$primary-bgcolor: rgba(16, 16, 29, 0.90);
$secodary-bgcolor: rgba(255, 255, 255, 0.85);
$footer-bg: #3D4050;

$primary-btncolor: #3E9CDC;
$secondary-btncolor:#fff;

$primary-btntext:#fff;
$secondary-btntext: #2A2B30;

$border-primary:#fff;
$border-secondary: #6F6D7B;

$primary-text: #fff;
$base-text: #000;
$secondary-text:#bbb;
$active-text: #43ABF0;

$ff-header: "Lato";
$ff-body: "Raleway"